USE [BancoDB]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] NOT NULL,
	[nom_cliente] [varchar](50) NULL,
	[ape_cliente] [varchar](50) NULL,
	[dni] [numeric](10, 0) NULL,
	[id_estado] [int] NULL,
	[mail] [nchar](50) NULL,
 CONSTRAINT [pk_clientes] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[cbu] [numeric](22, 0) NOT NULL,
	[saldo] [numeric](20, 2) NULL,
	[id_tipo] [int] NULL,
	[id_cliente] [int] NULL,
	[ultimo_mov] [datetime] NULL,
	[fecha_baja] [datetime] NULL,
 CONSTRAINT [pk_cuentas] PRIMARY KEY CLUSTERED 
(
	[cbu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Civil]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Civil](
	[id_estado] [int] NOT NULL,
	[nom_estado] [varchar](25) NULL,
 CONSTRAINT [pk_estados] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_cuentas]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_cuentas](
	[id_tipo] [int] NOT NULL,
	[nom_cuenta] [varchar](30) NULL,
 CONSTRAINT [pk_tipo_cuentas] PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[dni] [int] NOT NULL,
	[nom_usuario] [varchar](30) NULL,
	[pass] [varchar](10) NULL,
 CONSTRAINT [pk_usuarios] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([id_cliente], [nom_cliente], [ape_cliente], [dni], [id_estado], [mail]) VALUES (5, N'Pedro', N'Vivas', CAST(33669850 AS Numeric(10, 0)), 1, NULL)
INSERT [dbo].[Clientes] ([id_cliente], [nom_cliente], [ape_cliente], [dni], [id_estado], [mail]) VALUES (6, N'Daniel', N'Saigo', CAST(35658961 AS Numeric(10, 0)), 2, NULL)
INSERT [dbo].[Clientes] ([id_cliente], [nom_cliente], [ape_cliente], [dni], [id_estado], [mail]) VALUES (7, N'Alberto', N'Suearez', CAST(25896314 AS Numeric(10, 0)), 1, NULL)
GO
INSERT [dbo].[Cuentas] ([cbu], [saldo], [id_tipo], [id_cliente], [ultimo_mov], [fecha_baja]) VALUES (CAST(123456789000014 AS Numeric(22, 0)), CAST(66699963.00 AS Numeric(20, 2)), 1, 35, CAST(N'2022-10-21T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Cuentas] ([cbu], [saldo], [id_tipo], [id_cliente], [ultimo_mov], [fecha_baja]) VALUES (CAST(123456789000015 AS Numeric(22, 0)), CAST(7777444.00 AS Numeric(20, 2)), 3, 33, CAST(N'2022-10-10T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Cuentas] ([cbu], [saldo], [id_tipo], [id_cliente], [ultimo_mov], [fecha_baja]) VALUES (CAST(123456789000016 AS Numeric(22, 0)), CAST(47852.00 AS Numeric(20, 2)), 2, 7, CAST(N'2020-10-10T00:00:00.000' AS DateTime), CAST(N'2022-11-20T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Estado_Civil] ([id_estado], [nom_estado]) VALUES (1, N'Soltero/a')
INSERT [dbo].[Estado_Civil] ([id_estado], [nom_estado]) VALUES (2, N'Casado/a')
INSERT [dbo].[Estado_Civil] ([id_estado], [nom_estado]) VALUES (3, N'Viudo/a')
GO
INSERT [dbo].[Tipo_cuentas] ([id_tipo], [nom_cuenta]) VALUES (1, N'Caja de Ahorro en Pesos')
INSERT [dbo].[Tipo_cuentas] ([id_tipo], [nom_cuenta]) VALUES (2, N'Caja de Ahorro en USD')
INSERT [dbo].[Tipo_cuentas] ([id_tipo], [nom_cuenta]) VALUES (3, N'Cuenta Corriente')
GO
INSERT [dbo].[usuarios] ([dni], [nom_usuario], [pass]) VALUES (20532670, N'Marta', N'Cordoba+99')
INSERT [dbo].[usuarios] ([dni], [nom_usuario], [pass]) VALUES (20532671, N'Merlo', N'Cba+567890')
INSERT [dbo].[usuarios] ([dni], [nom_usuario], [pass]) VALUES (20532699, N'daniel', N'Cordoba+22')
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [fk_estadocivil_clientes] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estado_Civil] ([id_estado])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [fk_estadocivil_clientes]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [fk_cliente_cuentas] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [fk_cliente_cuentas]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [fk_tipo_cuentas_cuentas] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[Tipo_cuentas] ([id_tipo])
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [fk_tipo_cuentas_cuentas]
GO
/****** Object:  StoredProcedure [dbo].[pa_Baja_Cbu]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[pa_Baja_Cbu]
  @cbu numeric(22,0)
  as
  begin
  update Cuentas
  set fecha_baja= GETDATE()
  where cbu= @cbu
  end
GO
/****** Object:  StoredProcedure [dbo].[pa_Cargar_Combo]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[pa_Cargar_Combo]
as
begin
select * from Tipo_cuentas
end
GO
/****** Object:  StoredProcedure [dbo].[pa_Cargar_ComboEstados]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[pa_Cargar_ComboEstados]
  as
  begin
  select * 
  from Estado_Civil
  end
GO
/****** Object:  StoredProcedure [dbo].[pa_Consultar_Cuentas_Por_DNI]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pa_Consultar_Cuentas_Por_DNI]
@dni int
as
begin
select cl.id_cliente'Id'  ,cl.ape_cliente'Apellido', cl. nom_cliente 'Nombre',  cl.dni 'DNI', 
		tp.nom_cuenta'Tipo de cuenta', cu.cbu'CBU', cu.saldo'Saldo', cu.ultimo_mov'Ultimo movimiento' 
from Cuentas cu
join Clientes cl
on cl.id_cliente= cu.id_cliente
join Tipo_cuentas tp
on tp.id_tipo = cu.id_tipo
where dni= @dni
and cu.fecha_baja is  null
end
GO
/****** Object:  StoredProcedure [dbo].[pa_Insertar_Cliente_Maestro]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[pa_Insertar_Cliente_Maestro]
@apellido varchar(50),
@nombre varchar(50),
@dni numeric(10,0),
@id_cliente int ,
@id_estado int,
@mail varchar(50)
as
begin
insert into Clientes ( id_cliente,  nom_cliente , ape_cliente, dni, id_estado,mail)
values (@id_cliente, @nombre, @apellido , @dni,@id_estado, @mail)
end
GO
/****** Object:  StoredProcedure [dbo].[pa_Insertar_Cuenta_Detalle]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create proc [dbo].[pa_Insertar_Cuenta_Detalle]
@cbu numeric(22,0),
@saldo numeric(20,2),
@id_tipo int,
@id_cliente int,
@ultimoMov datetime
as
begin
insert into Cuentas( cbu, saldo, id_tipo, id_cliente, ultimo_mov)
values	(@cbu, @saldo, @id_tipo, @id_cliente, @ultimoMov)

end
GO
/****** Object:  StoredProcedure [dbo].[pa_Proximo_CBU]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pa_Proximo_CBU]
@next numeric(22,0) output
as
begin
select  @next= max(cbu)
from Cuentas
end

begin
if (@next>=1) select('ok')
else
begin set @next = 100000000000021
end
end
GO
/****** Object:  StoredProcedure [dbo].[pa_Proximo_Cliente]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pa_Proximo_Cliente]
@next int output
as
begin
select @next= max(id_cliente)
from Clientes
end

begin
if (@next>=1) select('ok') -- ver si hace falta sumar 1 directamente al resultado
else
begin set @next = 1
end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_login]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_actualizar_login]
@dni int,
@nom_usuario varchar(30),
@pass varchar(30)
as
begin
update usuarios
set nom_usuario = @nom_usuario,
	pass = @pass
	where dni = @dni

end
GO
/****** Object:  StoredProcedure [dbo].[sp_borrar_login]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_borrar_login]

@dni int
as
begin
delete usuarios
where dni=@dni

end
GO
/****** Object:  StoredProcedure [dbo].[sp_consultar_cliente_por_DNI]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[sp_consultar_cliente_por_DNI]
 
  @dni int
   as
  begin
  select * from Clientes
  where dni= @dni
  end
GO
/****** Object:  StoredProcedure [dbo].[sp_consultar_todos_los_clientes]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  create proc [dbo].[sp_consultar_todos_los_clientes]
  as
  begin
  select * from Clientes
  end
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_login]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_crear_login]

@dni int,
@nom_usuario varchar(30),
@pass varchar(30)
as
begin
insert into usuarios( dni, nom_usuario, pass) values( @dni, @nom_usuario, @pass)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_CuentasDadasDeBaja_Con_Parametros]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_CuentasDadasDeBaja_Con_Parametros]
@Fecha_Desde datetime,
@Fecha_Hasta datetime
as
begin
SELECT YEAR(fecha_baja) AS ANIO, DATENAME(MONTH ,fecha_baja)  AS MES, nom_cliente, ape_cliente, dni 
FROM Cuentas c 
join Clientes C2 
on c.id_cliente = C2.id_cliente 
WHERE fecha_baja between  @Fecha_Desde and @Fecha_Hasta 
order by 1, 2
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarEstadoCivilporDNI]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[sp_ModificarEstadoCivilporDNI]
  @dni int,
  @nuevoEstadoCivil int
  as
  begin
  update Clientes
  set id_estado= @nuevoEstadoCivil
  where dni= @dni
  end
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarMailporDNI]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[sp_ModificarMailporDNI]
  @dni int,
  @nuevoMail varchar(50)
  as
  begin
  update Clientes
  set mail= @nuevoMail
  where dni= @dni
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTE_CLIENTES]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[SP_REPORTE_CLIENTES]
AS
    select nom_cliente as nombre,ape_cliente as apellido,dni,cbu,saldo,ultimo_mov,fecha_baja,nom_cuenta as tipo_cuenta 
	from clientes 
	join Cuentas C 
	on Clientes.id_cliente = C.id_cliente 
	join Tipo_cuentas Tc 
	on C.id_tipo = Tc.id_tipo

ORDER BY nom_cliente asc
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTE_SALDOS_CUENTAS]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORTE_SALDOS_CUENTAS]
@precio_dolar int
    as
select T.nom_cuenta, ct.saldo , 
case WHEN t.nom_cuenta='Caja de Ahorro en USD' THEN ct.saldo*@precio_dolar 
	when T.nom_cuenta != 'Caja de Ahorro en USD' THEN ct.saldo  end AS valor_pesos 
	from  Cuentas ct  
	join Tipo_cuentas T 
	on ct.id_tipo = T.id_tipo
GO
/****** Object:  StoredProcedure [dbo].[sp_transferencia_cuentas]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_transferencia_cuentas]
@cbu_Origen numeric (22,0),
@cbu_Destino numeric (22,0),
@importe numeric (22,0)
as
begin
update cuentas set saldo = saldo - @importe, ultimo_mov = getdate() where cbu = @cbu_Origen
update cuentas set saldo = saldo + @importe, ultimo_mov = getdate() where cbu = @cbu_Destino
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_validar_dni]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  create proc [dbo].[sp_validar_dni]
  
  @dni int
  as
  begin
  select * from usuarios
  where dni= @dni
  end
GO
/****** Object:  StoredProcedure [dbo].[sp_validar_login]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_validar_login]
@dni int, 
@pass varchar(30)
as
begin
select nom_usuario
from usuarios
where (dni= @dni) and (pass= @pass)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_verEstadoCivilporDNI]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_verEstadoCivilporDNI]

@dni int

as
begin
select  nom_cliente,ape_cliente, nom_estado
from Clientes c join
Estado_Civil e
on c.id_estado= e.id_estado
where c.dni= @dni
end
GO
/****** Object:  StoredProcedure [dbo].[sp_verMailporDNI]    Script Date: 9/11/2022 20:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_verMailporDNI]

@dni int

as
begin
select  nom_cliente,ape_cliente, dni ,mail
from Clientes 
where dni= @dni
end
GO
